header {
  width: 100%;
  background-image: url(header.jpg);
}

header img {
  width :10%;

  /*float : left;*/
  padding: 20px;

}

h1 {
  display: inline-block;
  With : 40%;
  vertical-align: top;
  margin-top : 71px;
  margin-left: 45px;
  font-family: cursive;
  color: white;
}

section {
  background-image: url(back.jpg);
  padding : 30px;

}

article {
  background-color: white;
  width: 90%;

  margin : auto;
  border-radius: 30px;
  box-shadow: 2px 2px 2px black;

}
h2 {
  text-align: center;
}

li {
  padding: 10px;
}

footer {
  background-image: url(header.jpg);
color: white;
height: 100px;
padding-top: 40px;
}

p {
  text-align: center;
  font-family: cursive

}

a {
  text-decoration: none;
  color: white;
}
